<div class="slider">

	<div class="slider__photo"><span></span></div>
	<div class="slider__photo"><span></span></div>
	<div class="slider__photo"><span></span></div>
	<div class="slider__photo"><span></span></div>
	<div class="slider__photo"><span></span></div>
	<div class="slider__photo"><span></span></div>

	{% include logo-circle.html %}

	<div class="slider__content">
		<h1 class="slider__title">
			{{ site.slider-title }} 
		</h1>
		<div class="slider__container">
			<ul class="slider__list">
				<li class="slider__item">{{ site.first-li }}</li>
				<li class="slider__item">{{ site.second-li }}</li>
				<li class="slider__item">{{ site.third-li }}</li>
				<li class="slider__item">{{ site.fourth-li }}</li>
			</ul>
		</div>
	</div>

</div>